<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>COVID'19 TRACKER</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
   <style type="text/css">
    .svg-container{
      margin: auto !important;
    }
  </style>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        
        <div class="sidebar-brand-text mx-3">COVID'19<sup>TRACKER</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index')}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('india')}}">
          <i class="fas fa-fw fa-home"></i>
          <span>India</span></a>
      </li>
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Vivank Sharma</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <p class="mb-4">Last Updated : {{time}} </p>

          </div>

          <!-- Content Row -->
          <h2 class="h3 mb-0 text-gray-800">World</h2>
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total (World)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{world_data['total_cases']}}<sup style="color: #4e73df">+{{world_data['new_cases']}}</sup></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-globe fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deceased (World)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{world_data['total_deaths']}}<sup style="color: red">+{{ world_data['new_deaths'] }}</sup></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-heart-broken fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Recovery (World)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{world_data['total_recovered']}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-hand-holding-heart fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            

            <!-- Pending Requests Card Example -->
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Active (World)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{world_data['active_cases']}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-snowflake fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- Content Row -->
          <!-- Content Row -->
          <h2 class="h3 mb-0 text-gray-800">India</h2>
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total (India)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{india_data['cases']}}<sup style="color: #4e73df">+{{india_data['new_cases']}}</sup></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-globe fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deceased (India)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{india_data['deaths']}}<sup style="color: red">+{{ india_data['new_deaths'] }}</sup></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-heart-broken fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Recovery (India)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{india_data['total_recovered']}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-hand-holding-heart fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            

            <!-- Pending Requests Card Example -->
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Active (India)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{india_data['active_cases']}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-snowflake fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="row">

            <div class="container-fluid">
              <div id="chart" class="chart"></div>
            </div>

          </div>

        <div class="row">
                  <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <br><br>
          <h1 class="h3 mb-2 text-gray-800">World Demography for COVID'19</h1>
          

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Country List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Country</th>
                      <th>Cases</th>
                      <th>Recovery</th>
                      <th>Deaths</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Country</th>
                      <th>Cases</th>
                      <th>Recovery</th>
                      <th>Deaths</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for i in world_track%}
                    {% if  i['country_name'] != ''%}
                    <tr>
                      <td>{{i['country_name']}}</td>
                      <td>{{i['cases']}}</td>
                      <td>{{i['total_recovered']}}</td>
                      <td>{{i['deaths']}}</td>
                    </tr>
                    {% endif %}

                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
        <!-- /.container-fluid -->



</div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Vivank Sharma 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>


  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

      <!-- D3.js -->
    <!-- Latest compiled and minified plotly.js JavaScript -->
<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>

<!-- OR use a specific plotly.js release (e.g. version 1.52.3) -->
<script src="https://cdn.plot.ly/plotly-1.52.3.min.js" charset="utf-8"></script>

<!-- OR an un-minified version is also available -->
<script src="https://cdn.plot.ly/plotly-latest.js" charset="utf-8"></script>
 
    <script type="text/javascript">

        colors = ['rgb(99, 110, 250)', 'red', 'rgb(0, 204, 150)']
         
        var data = [{
  values: {{values_india}},
  labels: ['Active','Death','Recovered'],
  domain: {column: 0},
  marker: {
    colors: colors
  },
  name: 'India COVID\'19',
  text: 'India',
  hole: .4,
  type: 'pie',
  hoverinfo: 'label+percent+name',
  textinfo: 'label+percent+name'
},{
  values: {{values_world}},
  labels: ['Active','Death','Recovered'],
  text: 'World',
  textposition: 'inside',
    marker: {
    colors: colors
  },
  domain: {column: 1},
  name: 'World COVID\'19',
  hoverinfo: 'label+percent+name',
  textinfo: 'label+percent+name',
  hole: .4,
  type: 'pie'
}];

        var layout = {
  title: 'Global COVID\'19 situation',
  annotations: [
    {
      font: {
        size: 20
      },
      showarrow: false,
      text: 'India',
      x: 0.17,
      y: 0.5
    },
    {
      font: {
        size: 20
      },
      showarrow: false,
      text: 'World',
      x: 0.82,
      y: 0.5
    }
  ],
  height: 400,
  width: 600,
  showlegend: false,
  grid: {rows: 1, columns: 2}
};
        
        Plotly.plot('chart',data, layout);        
 
    </script>

</body>

</html>
